body {
    background-color: #f0f0f0; 
    font-family: Arial, sans-serif;
    margin: 0; 
    padding: 0; 
}
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #74C0FC;
    font-weight: bold; 
    margin-bottom:20px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2, .stories {
    font-weight: bold; 
}

#body {
    background-color: #74C0FC;
    width: 100%;
    min-height: 65vh; 
    display: flex;
    align-items: center; 
}

#content {
    flex: 1; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 60px; 
}

.unlock-stories {
    color: white;
    font-weight: bold; 
    font-size: 40px;
    padding-left: 50px;
    margin: 0; 
}

#quote {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 50px;
    margin-bottom: 20px;
}

.btn {
    margin-top: 20px;
    margin-left:130px
}

#image-container {
    flex: 3;
    order: 2;
    display: flex;
    justify-content: flex-end; 
}

#image {
    width: 1300px; 
    height: auto; 
    max-height: 85vh;
    object-fit: cover; 
}


.blogs-section {
    display: flex;
    justify-content: space-around; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    padding: 20px 0; 
    background-color: #f0f0f0; 
    margin: 20px 0; 
    overflow-x: auto; 
}

.blog-card {
    width: 300px; 
    margin: 10px; 
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.blog-card:hover {
    transform: translateY(-5px); 
}

.blog-image {
    width: 100%;
    height: 200px; 
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 18px; 
    font-weight: bold; 
    margin-bottom: 5px; 
}

.blog-overview {
    font-size: 14px;
    margin-bottom: 10px; 
}

.btn-dark {
    background-color: #1b1b1b;
    color: #fff;
    margin-top: auto;
    align-self: flex-end; 
}

@media (max-width: 768px) {
    .blogs-section {
        justify-content: flex-start; 
    }

    .blog-card {
        width: calc(50% - 20px);
    }
}

.stories {
    font-size: 40px;
    font-weight: bolder; 
    padding-bottom: 5px;
}

.me {
    color: #74C0FC;
    font-weight: bold; 
}

.about-us-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-us-content {
    flex: 1;
    padding-right: 30px;
}

.about-us-content h2 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.about-us-content p {
    font-size: 18px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 20px;
}

.about-us-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us-image img {
    width: 800px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
    .about-us-container {
        flex-direction: column;
        align-items: center;
    }

    .about-us-content {
        padding-right: 0;
        text-align: center;
    }

    .about-us-image {
        margin-top: 20px;
    }
}

#me {
    color: #74C0FC;
    font-weight: bold; 
}

.btn-establish-blog {
    background-color: #3ca9fd;
    color: white;
    margin-top: 20px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold; 
}

.btn-establish-blog:hover {
    background-color: #0491fd;
    color: white;
    font-weight: bold; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#crafting {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #74C0FC;
    font-weight: bold; 
    margin-top: 50px;
    padding-top: 20px;
}

.blog-box {
    background-color: #ffffff;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}
.large-input {
    width: 100%;
    height: 100%;
    min-height: 200px;
    max-height: 100%;
    font-size: 16px;
    padding: 10px;
    resize:vertical;
    line-height: 1.6;
    font-size:16px;
    margin-top: 40px;
    border-radius: 5px;
    transition: height 0.3s ease;
    border: 1px solid #ccc;
    box-sizing: padding-box; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
}
.blog-box {
    background-color: #ffffff;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} 
.text{
    margin-left:750px;
}
.button-container {
    margin-top: 20px;

}
#readAllBlogsBtn{
    margin-left:60px;
}
#featured{
    color:#74C0FC;
    margin-left:840px;
    margin-top:20px;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.nature{
    width:400px;
    height:525px;
    margin-left:40px;
    margin-top:50px;
    background-color: white;
    border-radius: 10px;
}
.nature:hover{
    transform: translateY(-5px); 
    box-shadow:#1b1b1b;

}
.natureHeading{
    display:flex;
    justify-content: center;
    align-items:center;
    padding-top: 20px;
    font-weight: bolder;
    color:#74C0FC;
}
.natureImage{
    width:385px;
    height:200px;
    padding-left:25px;
    padding-right:20px;
}
.natureContent{
    padding-top:20px;
    padding-left:30px;
    padding-right:30px;
}
#mainNature{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
justify-content: space-between;
margin-left:20px;
margin-right:50px;
}
#readButton{
    margin-top: 15px;
    margin-left:168px;
    margin-bottom: 5px;
    background-color: #3ca9fd;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold; 

}
#readButton:hover {
    background-color: #0491fd;
    color: white;
    font-weight: bold; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.designs {
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}

.designs h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0 40px;
}

.designs p {
    font-size: 16px;
    margin-bottom: 20px;
    padding: 0 40px; 
}

.designImages {
    width: 63.33%; 
    height: calc(80% - 50px); 
    border-radius: 8px;
}

#exploreBlogs, #promoteBlogs, #postBlogs, #monetizeBlos {
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

#exploreBlogs {
    background-color: #808000;
    flex-direction: row-reverse;
}

#promoteBlogs {
    background-color: #A052D9;
    flex-direction: row;
}

#postBlogs {
    background-color: #FF7F50;
    flex-direction: row-reverse;
}

#monetizeBlos {
    background-color: #4682B4;
    flex-direction: row;
}

.textContainer {
    width: 36.66%; 
    padding: 20px;
}

@media (max-width: 768px) {
    .designs {
        flex-direction: column;
        height: auto;
    }

    .designImages {
        max-width: 100%;
        width: 100%;
        height: auto;
    }

    .textContainer {
        width: 100%;
        text-align: center;
    }

    #exploreBlogs, #promoteBlogs, #postBlogs, #monetizeBlos {
        height: auto;
    }
}
.patterns{
    margin-top:40px;
}
#empowerBlogs{
    color:#74C0FC;
    margin-left:800px;
    margin-top:50px;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#natureHeading2{
    margin-left:230px;
    margin-bottom:50px;
    color:#74C0FC;
    margin-top:50px;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
#carsHeading2{
    margin-left:100px;
    margin-bottom:50px;
    color:#74C0FC;
    margin-top:50px;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}
.body-style {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #74C0FC;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card {
    width: 300px;
    margin: 10px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-card:hover {
    transform: translateY(-5px);
}

.blog-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.blog-overview {
    font-size: 14px;
    margin-bottom: 10px;
}

.btn-dark {
    background-color: #1b1b1b;
    color: #fff;
    margin-top: auto;
    align-self: flex-end;
}

@media (max-width: 768px) {
    .blogs-section {
        justify-content: flex-start;
    }

    .blog-card {
        width: calc(50% - 20px);
    }
}

#allBlogsHeading {
    margin-left: 0px;
    margin-right:180px;
    margin-bottom: 20px;
    color: #74C0FC;
    font-weight: bold;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#readButton {
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 5px;
    background-color: #3ca9fd;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-weight: bold;
}

#readButton:hover {
    background-color: #0491fd;
    color: white;
    font-weight: bold;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.designs {
    position: relative;
    overflow: hidden;
    margin-bottom: 50px;
    display: flex; 
    align-items: center; 
}
.designImages {
    width: 50%; 
    transition: transform 0.5s ease, opacity 0.3s ease; 
}

#headingContent {
    flex: 1;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.3s ease; 
}

.designs:hover .designImages {
    transform: scale(1.1);
    opacity: 0.8; 
}

.designs:hover #headingContent {
    opacity: 1;
    transform: translateY(0); 
}
#content {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.8s ease, transform 1s ease;
}

#content.loaded {
    opacity: 1;
    transform: translateX(0);
}


body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#crafting {
    text-align: center;
    margin-top: 50px;
    padding-top: 20px;
}

#crafting h2 {
    color: #74C0FC;
    font-weight: bold;
    font-size: 36px;
}

.blogBox1 {
    background-color: #ffffff;
    margin-left: 20px;
    margin-right:20px;
    padding: 20px;
    border-radius: 10px;
    width: 98%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; 
}

.large-input {
    width: 98%;
    min-height: 200px;
    font-size: 16px;
    padding: 10px;
    padding-right: 20px;
    resize: vertical;
    margin-bottom: 40px;
    line-height: 1.6;
    margin-top: 40px;
    border-radius: 5px;
    transition: height 0.3s ease;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.text {
    text-align: center;
    margin-top: 20px;
}

.btn-blog {
    background-color: #3ca9fd;
    color: white;
    margin-right: 750px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-establish-blog:hover {
    background-color: #0491fd;
    color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.crafting {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #74C0FC;
    font-weight: 800;
    margin-top: 50px;
    padding-top: 20px;
    font-size: 35px;
}

#deleteBlogBtn{
  background-color: #fa0019;
  color:white;
  border-radius: 5px;
  border:none;
  margin-left: 20px;
  margin-bottom: 20px;
  height:40px;
}
#deleteBlogBtn:hover {
    background-color:#c90c1f;
}

#backBlogBtn{
    background-color:#3ca9fd; 
    color:white;
    border-radius: 5px;
    border:none;
    margin-left: 5px;
    margin-bottom: 20px;
    height:40px;
}

#backBlogBtn:hover {
    background-color: #0491fd;
}

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
    margin-bottom: 22%;
}


.card {
    margin-top: 30%;
    margin-bottom: 40%;
}

.card-header {
    background-color: #3ca9fd;
    color: #fff;
}

.btn-primary {
    background-color: #3ca9fd;
    border: none;
    width: 120px;
    display: block;
    margin: 0 auto; 
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.btn-primary:hover {
    background-color: #0491fd;
    width: 123px;
    height:40px
}
#allblogs{
    margin-bottom:100%;
}
#creatAccount{
    color:#3ca9fd;
    margin-left:380px;
}
